@font-face
    font-family: "Roboto-regular"
    src : url("../fonts/Roboto regular.ttf")

@font-face
    font-family: "Roboto-bold"
    src : url("../fonts/Roboto bold.ttf")

@font-face
    font-family: "Roboto-italic"
    src : url("../fonts/Roboto-italic.ttf")

@font-face
    font-family: "Roboto-light"
    src : url("../fonts/Roboto Light.ttf")

@font-face
    font-family: "MyriadPro-Regular"
    src : url("../fonts/MyriadPro-Regular.otf")